body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


main {
    /*padding: 20px;*/
}

#visualization {
    display: grid;
    grid-template-columns: 66% 33%;
    grid-template-rows: 370px 370px;
    /*grid-template-rows: 50% 50%;*/

}


.svg-container, .svg-container-map {
    width: 100%;
    height: 100%;
    padding: 3px;

}

svg {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;

}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
